<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReadMotion</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/script.js" defer></script>   
</head>
<body>
    
    <!-- <div class="pdf-container">
        <h2>Control de PDF</h2>
        <h3 id="page-counter">Página: 1</h3>
        <img id="pdf-image" src="/get_pdf_page/1" alt="PDF Page">
    </div> -->

    <div class="app-container">
        <header>
            <h1>ReadMotion</h1>
        </header>
        <main class="reader-container">
            <img src="/video" alt="Video en vivo" style="display: none;">
            <aside class="sidebar">
                <div class="status-box" id="page-counter">P. 1/50</div>
                <div class="status-box" id="gesture-info">Esperando gesto</div>
            </aside>
            <section class="pdf-view">
                <img id="pdf-image" src="/get_pdf_page/1" alt="Página del PDF">
            </section>
        </main>
    </div>
</body>
</html>
